@font-face {
    font-family: OpenSans;
    src: url("/OpenSans-Regular.ttf");
}

body {
    font-family: OpenSans;
    margin-left: 100px;
    background-color: #070707;
    color: #93E998;
    margin-top: 55px;
    max-width: 800px;
}

a {
    color: #93E998;
}

.quote {
    font-size: 12pt;
    opacity: 0.7;
    font-family: monospace;
}

img {
    border-radius: 25px;
}
